{% extends 'base.html' %}


{#内容模块#}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-md-2">
          <a class="collect" href="{{ url_for('collection.addView') }}?nid={{ news.id }}&uid={{ user.id }}"><img src="{{ url_for('static',filename='logo/zhuanfa.png')}}"></a>
          <form role="form" style="width: 100px;padding: 0;" action="{{ url_for('news.detailView') }}?nid={{ news.id }}&uid={{ user.id }}" method="POST">
           {% if message %}
               <h5 style="margin-top: 10px;color: red">{{ message }}</h5>
           {% endif %}
          </form>
      </div>
      <div class="col-md-8">
          <h2 style="left: 50px">{{ news.title }}</h2>
          <a><img src="{{ bigimgs.img_url }}"style="width: 100%"></a>
          <h4 style="font-family: 华文楷体;letter-spacing: 2px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ news.content }}</h4>
      </div>

{#        富文本编辑#}
      <div class="col-md-2">
          <div style="margin-top: 60px" class="text-center">
              <form method="post" action="{{ url_for('news.ckUpload') }}" enctype="multipart/form-data" >
                <textarea name="content" id="content" placeholder="内容" cols="60" ></textarea>
                <input type="submit" class="btn btn-primary text-center" value="立即发布">

{#                替换textarea#}
                <script type="text/javascript">
                    CKEDITOR.replace('content', {
                {#开启上传功能，配置上传路径#}
                        language: 'zh-cn',
                        filebrowserUploadUrl: '/ckupload/',
                        toolbar: [['Bold', 'Italic', '-', 'NumberedList', 'BulletedList','-'],['Image']]
                    });
                </script>
              </form>
          </div>
      </div>

   </div>
</div>

{% endblock %}