{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" media="screen" href="../static/404style/style.css">

{#		<script language="JavaScript">#}
{#			function dosearch() {#}
{#			var sf=document.searchform;#}
{#			var submitto = sf.sengine.value + escape(sf.searchterms.value);#}
			{#window.location.href = submitto;#}
{#			return false;#}
{#			}#}
{#		</script>#}


{#		<div class="header">#}
{#			<img src="../static/404style/images/Logo_sample.png" />#}
{#		</div>#}

		<p class="error">404</p>

		<div class="content">
			<h2>page coulnd't be found</h2>

			<p class="text">
				<h3>你竟然可以吧零四新闻网玩崩了,恭喜你!</h3>
			</p>

		</div>

{% endblock %}