{% extends 'base.html' %}
{% block content %}
    <div style="width: 60%;height: 300px;margin-left:17%;margin-top: 20px;">

        <!--贴心话-->
        <div >
            <h3 style="display: inline-block;margin-left: -5px;margin-left: 100px">亲爱的</h3><h1 style="display: inline-block">{{ username }}</h1>:

        <!--新密码-->
        <form class="form-horizontal" style="margin-top: 40px" role="form" action="{{ url_for('user.passwordChangeView') }}"
              method="post">
            <input type="hidden" name='id' value={{ id }}>
            <!--email-->
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label" style="font-size:large">请输入新密码</label>
                <div class="col-sm-8">
                    <input type="password" style="width: 91%;display: inline-block" name="password" class="form-control" id="password" placeholder="新密码">
                    <!--验证反馈信息-->
                    <span id="passwordRight" style="color: green;font-style: italic;width: 9%;display: none">good!</span>
                    <div id="passwordError" style="color: red;display: none">密码只能包含字母/数字/下划线,长度在6～12位</div>
                </div>
            </div>

            <!--确认密码-->
            <div class="form-group">
                <label for="repassword" class="col-sm-4 control-label" style="font-size:large">确认密码</label>
                <div class="col-sm-8">
                    <input type="password" style="width: 91%;display: inline-block" name="repassword" class="form-control" id="repassword" placeholder="请再次输入密码">
                    <!--验证反馈信息-->
                    <span id="repasswordRight" style="color: green;font-style: italic;width: 9%;display: none">good!</span>
                    <div id="repasswordError" style="color: red;display: none">两次输入的密码不一致</div>
                </div>
            </div>

            <!--提交-->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" id="submit" disabled class="btn btn-info">提交</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript">

        $(function () {

            //(动态输入时检查)密码验证
            $("#password").on('input', function () {
                var regtitle = /^[a-zA-Z0-9_]{6,12}$/;
                var uname = $("#password").val();
                if (uname.length <= 0 || !regtitle.test(uname)) {
                    $("#passwordRight").hide();
                    $("#passwordError").show();
                } else {
                    $("#passwordRight").show();
                    $("#passwordError").hide();
                }

            });

             //(动态输入时检查)确认密码
            $("#repassword").on('input', function () {
                var pwd = $("#password").val();
                var repwd = $("#repassword").val();
                if (pwd !== repwd || repwd.length <= 0) {
                    $("#repasswordRight").hide();
                    $("#repasswordError").show();
                } else {
                    $("#repasswordRight").show();
                    $("#repasswordError").hide();
                }
            });

            //以上全部通过,允许注册
            $('input').on('input', function () {
                if ($('#passwordRight').is(':visible') && $('#repasswordRight').is(':visible')){
                    $('#submit').removeAttr("disabled");
                }
            });

        })

    </script>
{% endblock %}
